/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0ec;
    font-family: sans-serif;
    outline: none;
    
}

body .container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0ec;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffff,
                        5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
                    }
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0ec;
    box-shadow: inset -5px -5px  12px #ffff,
                inset  5px  5px  12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 30px;
    color: rgba(70, 70,70,);
    font-size: 50px;
    text-align: end ;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0ec;
    box-shadow: -5px -5px 12px #ffff,
                5px 5px 12px rgba(0, 0,0, .16);
    border: none; 
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;

}

.equal-btn{
    width: 115px;
    border-radius: 40px;
    background-color: #ecf0ec;
    box-shadow: -5px -5px 12px #ffff,
                5px 5px 12px rgba(0, 0,0, .16);
}
 */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #424242;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #333333,
                5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #424242;
    box-shadow: inset -5px -5px 12px #333333,
                inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 50px;
    text-align: end ;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 48px;
    width: 48px;
    background-color: #424242;
    box-shadow: -5px -5px 12px #333333,
                5px 5px 12px rgba(0, 0,0, .16);
    border: none; 
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
    color: #fff;
}

.equal-btn{
    width: 50px;
    border-radius: 40px;
    background-color: #424242;
    box-shadow: -5px -5px 12px #333333,
                5px 5px 12px rgba(0, 0,0, .16);
    color: #fff;
}

.light-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  